# In this project, I will use webscraping to view Amazon Stock data
#### Using BeautifulSoup, I will webscrape stock data from Yahoo Finance and create a dataframe using pandas

In [2]:
# !pip install pandas
# !pip install requests
# !pip install bs4
# !pip install plotly
# !pip install lxml

In [3]:
import pandas as pd
import requests
import lxml
from bs4 import BeautifulSoup

In [4]:
#Using the request package, I pull the webpage
url = 'https://finance.yahoo.com/quote/AMZN/history?period1=1451606400&period2=1612137600&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true'
html_data = requests.get(url).text

In [5]:
#Using BeautifulSoup, I parse the webpage
soup = BeautifulSoup(html_data, 'html.parser')

In [6]:
tag_object = soup.title
print("tag object:",tag_object)

tag object: <title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>

In [7]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])


for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date =col[0].text
    Open =col[1].text
    high =col[2].text
    low =col[3].text
    close =col[4].text
    adj_close =col[5].text
    volume =col[6].text
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

In [8]:
amazon_data.head()

           Date      Open      High       Low     Close       Volume Adj Close
0  Jan 01, 2021  3,270.00  3,363.89  3,086.00  3,206.20   71,529,900  3,206.20
1  Dec 01, 2020  3,188.50  3,350.65  3,072.82  3,256.93   77,567,800  3,256.93
2  Nov 01, 2020  3,061.74  3,366.80  2,950.12  3,168.04   90,810,500  3,168.04
3  Oct 01, 2020  3,208.00  3,496.24  3,019.00  3,036.15  116,242,300  3,036.15
4  Sep 01, 2020  3,489.58  3,552.25  2,871.00  3,148.73  115,943,500  3,148.73

In [ ]:
#Using Loc, I figure out what the Open was for stock of Amazon was on Jun 01, 2019
amazon_data.loc[19]